bitsandbytes >= 0.39.0; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/raw/main/bitsandbytes-0.39.0-py3-none-any.whl; platform_system == "Windows"
git+https://github.com/huggingface/accelerate
git+https://github.com/zuellni/diffusers
git+https://github.com/huggingface/transformers